<!-- PostMapper.xml -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.comment.CommentMapper">

  <!-- postId 기준 조회 -->
  <select id="getCommentsByPostId" resultType="com.example.demo.domain.Comments">
    SELECT * FROM comments WHERE post_id = #{postId}
  </select>

  <select id="getCommentsInPostId" resultType="com.example.demo.domain.Comments">
    SELECT * FROM comments WHERE post_id IN
                                 <foreach item="postId" collection="postIdList" open="(" separator="," close=")">
                                    #{postId}
                                 </foreach>
                           ORDER BY post_id
  </select>

  <!-- postIds 기준 댓글 삭제 -->
  <delete id="deleteCommentsInPostId" parameterType="Long">
    DELETE FROM comments WHERE post_id IN
                               <foreach item="postId" collection="postIds" open="(" separator="," close=")">
                                #{postId}
                               </foreach>
  </delete>

  <!-- userId 기준 댓글 삭제 -->
  <delete id="deleteCommentsByUserId" parameterType="Long">
    DELETE FROM comments WHERE user_id = #{userId}
  </delete>

	<delete id="deleteCommentsByPost" parameterType="Long">
        DELETE FROM comments WHERE post_id = #{postId}
  </delete>


  <delete id="deleteCommentsByDate">
    <![CDATA[
        DELETE FROM comments WHERE created_at < add_months(CURRENT_DATE, -1)
    ]]>
  </delete>


  <select id="getCommentsByUserId" resultType="com.example.demo.domain.Comments">
    SELECT * FROM comments WHERE user_id = #{userId}
  </select>

  <!--  -->
  <select id="getCommentsByUserIdAndInCommentId" resultType="com.example.demo.domain.Comments">
    SELECT * FROM comments WHERE user_id != #{userId} AND parent_comment_id IN
                                 <foreach item="commentId" collection="commentIds" open="(" separator="," close=")">
                                    #{commentId}
                                 </foreach>
  </select>

  <delete id="deleteCommentsByCommentId" parameterType="Long">
    DELETE FROM comments WHERE comment_id IN
                               <foreach item="commentId" collection="commentIds" open="(" separator="," close=")">
                                #{commentId}
                               </foreach>
  </delete>

</mapper>